// Variables, e.g.: colour, size, etc; these are definitions, non-changeble

$mobileFirst: true;

// Contain max-wdith
$maxWidth: 1200px;

//  default font scale bounding
$font-lock-min:  400px !default; 
$font-lock-max: 1000px !default;