// Common styles, e.g.: sections

// :root { @include font-size(16px, 24px); }

.inline_block--middle {
    display: inline-block;
    vertical-align: middle;
}

.contain-width {
    max-width: $maxWidth;
}
.contain-width--center {
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
}

* {
    box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}